extends layout

block content
  ul
  each user in users
    li ID : #{user.userId} NOM : #{user.name} DESCRIPTION : #{user.description} 
    
  form(name="createUser", method="post", action="users")
    div.input
      input(type="number", name="userId")
      input(type="text", name="name")
      input(type="text", name="description")
    div.actions
      input(type="submit", value="add")
